<div class="alert alert-danger mt-4" role="alert">
    <span class="oi oi-circle-x mr-2" aria-hidden="true"></span>
    <strong>@Message</strong>
</div>
<div>
    @if (ChildContent1 != null)
    {
        @ChildContent1
    }
    @if (ChildContent2 != null)
    {
        @ChildContent2
    }
</div>


@code {
    [Parameter] public string Message { get; set; }
    [Parameter] public RenderFragment ChildContent1 { get; set; }
    [Parameter] public RenderFragment ChildContent2 { get; set; }
}
